<mat-toolbar>
  <button
    mat-icon-button
    class="sidenav-button"
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>Gutierrez & Asociados</span>
  <span class="toolbar-logo">
    <img src="../assets/img/logo.png" alt="Logo Despacho" class="logo-image" />
  </span>
  <span class="spacer"></span>


  <button  [matMenuTriggerFor]="menu" class="btn btn-transparent">
    <mat-icon class="campana">notifications</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menuSesion" class="btn btn-transparent" style="color: white;">
    <div class="d-flex align-items-center">
      <div>{{decodedToken.nameAbogado}}</div>
      <div><mat-icon>arrow_drop_down</mat-icon></div>
    </div>
  </button>

  <mat-menu #menuSesion="matMenu">
    <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
  </mat-menu>
  
  <mat-menu #menu="matMenu">
    <div class="card border-0">
      <div *ngIf="notifications.length<=0" lass="card-body border-bottom">
        <h4 class="card-title mx-2">No tiene eventos pendientes</h4>
      </div>
      <div *ngFor="let notification of notifications" class="card-body border-bottom">
        <h4 class="card-title mb-2">{{ notification.name }}</h4>
        <h5 class="card-text mb-0" style="color: red;">Empieza en: {{getRemainingTime(notification.date_start,notification.date_end)}}</h5>
      </div>
    </div>
  </mat-menu>
  
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" class="sidenav">
    <mat-nav-list class="sidenav-list">
      <div *ngFor="let menuItem of menuItems">
        <div *ngIf="!menuItem.subItems; else submenu">
          <a mat-list-item [routerLink]="menuItem.link">
            <div class="flexContainer nav-item">
              <div>
                <mat-icon class="material-symbols-outlined">{{ menuItem.icon }}</mat-icon>
              </div>
              <div class="customSpan">{{ menuItem.label }}</div>
            </div>
          </a>
        </div>

        <ng-template #submenu>
          <a mat-list-item>
            <div class="flexContainer nav-item" (click)="toggleSubMenu(menuItem)">
              <div>
                <mat-icon class="material-symbols-outlined">{{ menuItem.icon }}</mat-icon>
              </div>
              <div class="customSpan">{{ menuItem.label }}</div>
              <span class="spacer"></span>
              <button
                mat-icon-button
                class="sidenav-submenu"
              >
                <mat-icon>{{
                  submenuOpen[menuItem.label]
                    ? "keyboard_arrow_up"
                    : "keyboard_arrow_down"
                }}</mat-icon>
              </button>
            </div>
          </a>

          <div *ngIf="submenuOpen[menuItem.label]">
            <mat-nav-list>
              <div *ngFor="let subItem of menuItem.subItems">
                <a mat-list-item [routerLink]="subItem.link">
                  <div class="flexContainer nav-item">
                    <div class="customSpan2">{{ subItem.label }}</div>
                  </div>
                </a>
              </div>
            </mat-nav-list>
          </div>
        </ng-template>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
