<div class="container">
    <div class="row">
      <div class="col-2 justify-content-start">
        <button class="btn btn-primary"  (click)="openModalCreate()">
          Nuevo Tipo de Evento
        </button>
      </div>
    </div>  
     
    <table class="table table-striped table-hover table-bordered mt-3">
      <thead>
        <tr class="bg-header text-white">
          <th scope="col" class="col-md-1">#</th>
          <th scope="col">Nombre del tipo de evento</th>
          <th scope="col" class="col-md-3">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoEvento of tiposEventos| paginate: { itemsPerPage: 10, currentPage: p }; index as i">
          <th scope="row" class="align-middle">{{ i + 1 }}</th>
          <td class="align-middle">{{ tipoEvento.name }}</td>
          <td class="text-center">
            <button class="btn btn-warning mx-1" (click)="openModalEdit(tipoEvento)"  >
              Editar
            </button>

            <button class="btn btn-danger mx-1" (click)="deleteTipo(tipoEvento.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class=" row">
        <div class="col-7"></div>
        <div class="col-5 justify-content-end">
          <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  