<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center">
            <div class="box doctor text-black  rounded text-center" style="background-color: white; width: 100%;">
                <div class="box-content">
                    <i class="fa-solid fa-person fa-5x text-black"></i>
                    <div>
                        <h2>{{cliente}}</h2>
                        <p>Clientes</p>
                    </div>
                </div>
                <div class="box-foot">
                    <a [routerLink]="['/dashboard/cliente']" class="text-black">Más Información</a>
                </div>
            </div>
        </div>
 
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center">
            <div class="box doctor text-black  rounded text-center" style="background-color: white; width: 100%;">
                <div class="box-content">
                    <i class="fa-solid fa-gavel fa-5x text-black"></i>
                    <div>
                        <h2>{{misDatos.openactivecasecount}}</h2>
                        <p>Mis casos activos</p>
                    </div>
                </div>
                <div class="box-foot">
                    <a [routerLink]="['/dashboard/casos/miscasos']" class="text-black">Más Información</a>
                </div>
            </div>
        </div>
 
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center">
            <div class="box doctor text-black rounded text-center" style="background-color: white; width: 100%;">
                <div class="box-content">
                    <i class="fa-regular fa-file fa-5x text-black"></i>
                    <div>
                        <h2>{{misDatos.activedocumentcount}}</h2>
                        <p>Mis Documetos</p>
                    </div>
                </div>
                <div class="box-foot">
                    <a [routerLink]="['/dashboard/documento']" class="text-black">Más Información</a>
                </div>
            </div>
        </div>
 
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center" *ngIf='decodedToken.rolUser=="ADMIN"'>
            <div class="box doctor text-black rounded text-center" style="background-color: white; width: 100%;">
                <div class="box-content">
                    <i class="fa-regular fa-user fa-5x text-black"></i>
                    <div>
                        <h2>{{data.length}}</h2>
                        <p>Abogados</p>
                    </div>
                </div>
                <div class="box-foot">
                    <a [routerLink]="['/dashboard/abogado']" class="text-black"> Más Información</a>
                </div>
            </div>
        </div>
 
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center" *ngIf='decodedToken.rolUser=="ADMIN"'>
            <div class="box doctor text-black rounded text-center" style="background-color: white; width: 100%;">
                <div class="box-content">
                    <i class="fa-solid fa-briefcase fa-5x text-black"></i>
                    <div>
                        <h2>{{casos}}</h2>
                        <p>Casos activos</p>
                    </div>
                </div>
                <div class="box-foot">
                    <a [routerLink]="['/dashboard/casos/admin']" class="text-black">Más Información</a>
                </div>
            </div>
        </div>
 
    </div>
</div>