<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card flex-row" style="width: 24rem; max-height: 100%;">
                <div class="col-md-5 d-flex align-items-center">
                    <img src="../assets/img/cliente.png" class="card-img-top img-fluid" alt="Nombre de la persona" style="height: 80%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title">Clientes totales 5</h4>
                        <p class="card-text">Ver clientes registrados</p>
                        <a href="dashboard/cliente" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card flex-row" style="width: 24rem; max-height: 100%;">
                <div class="col-md-5 d-flex align-items-center">
                    <img src="../assets/img/casos.png" class="card-img-top img-fluid" alt="Nombre de la persona" style="height: 80%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title">Mis casos totales 5</h4>
                        <p class="card-text">Ver mis casos registrados</p>
                        <a href="dashboard/casos/miscasos" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card flex-row" style="width: 24rem; max-height: 100%;">
                <div class="col-md-5 d-flex align-items-center">
                    <img src="../assets/img/documento.png" class="card-img-top img-fluid" alt="Nombre de la persona" style="height: 80%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title">Documentos totales 5</h4>
                        <p class="card-text">Ver documentos registrados</p>
                        <a href="dashboard/documento" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card flex-row" style="width: 24rem; max-width: 100%; max-height: 100%;">
                <div class="col-md-5 d-flex align-items-center">
                    <img src="../assets/img/abogados.png" class="card-img-top img-fluid" alt="Nombre de la persona" style="height: 80%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title">Abogados totales 5</h4>
                        <p class="card-text">Ver abogados registrados</p>
                        <a href="dashboard/abogado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card flex-row" style="width: 24rem; max-width: 100%; max-height: 100%;">
                <div class="col-md-5 d-flex align-items-center">
                    <img src="../assets/img/casos.png" class="card-img-top img-fluid" alt="Nombre de la persona" style="height: 80%;">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title">Casos totales 5</h4>
                        <p class="card-text">Ver casos registrados</p>
                        <a href="dashboard/casos/admin" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
