<div class="container">
    <div class="row">
      <div class="col-2 justify-content-start">
      </div>

      <div class="col-6"></div>
  
      <div class="col-4 justify-content-end">
        <div class="input-group rounded">
          <input
            type="search"
            class="form-control rounded-start"
            placeholder="Buscar por caso o cliente"
            aria-label="Search"
            aria-describedby="search-addon"
            [(ngModel)]="query"
            (keypress)="listar($event)"
          />
          <span
            class="input-group-text border-0 btn-primary"
            id="search-addon"
            [style.cursor]="'pointer'"
            (click)="listarCasosPago()"
          >
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>  
     
    <table class="table table-striped table-hover table-bordered mt-3">
      <thead>
        <tr class="bg-header text-white">
          <th scope="col" class="col-md-1">#</th>
          <th scope="col">Nombre caso</th>
          <th scope="col">Cliente</th>
          <th scope="col">Honorarios totales</th>
          <th scope="col">Saldo restante</th>
          <th scope="col" class="col-md-4">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="misCasos.length<=0"><td colspan="6">No tiene casos </td></tr>
        <tr *ngFor="let micaso of misCasos| paginate: { itemsPerPage: 10, currentPage: p }; index as i">
          <th scope="row" class="align-middle">{{ i + 1 }}</th>
          <td class="align-middle">{{ micaso.name_case }}</td>
          <td class="align-middle">{{ micaso.client.name }}</td>
          <td class="align-middle">{{ micaso.service_fee | currency:'USD' }}</td>
          <td class="align-middle">{{ calcularTotalRestante(micaso.service_fee,micaso.payment) | currency:'USD'}}</td>
          <td class="text-center">
            <button class="btn btn-primary mx-1" (click)="openModalCreate(calcularTotalRestante(micaso.service_fee,micaso.payment),micaso.id)" >
              Realizar pago
            </button>
            
            <button class="btn btn-success mx-1"  routerLink="historial/{{ micaso.id }}">
              Ver historial
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <div class=" row">
        <div class="col-7"></div>
        <div class="col-5 justify-content-end">
          <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  