<div class="container">
    <div class="row">
      <div class="col-2 justify-content-start">
        <button type="button" class="btn btn-primary " id="buttonIngreso" (click)="crearPdf()"  >Generar PDF</button>
      </div>
      <div class="col-3">

      </div>
  
      <div class="col-7 justify-content-end">
        <div class="input-group rounded">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fechaFin">Fecha de Fin:</label>
                <input type="date" class="form-control" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="fechaFin">Estado del caso</label>
                <select  class="form-select" [(ngModel)]="q">
                  <option  value="" selected>Todos</option>
                  <option *ngFor="let estadoCaso of estadoCaso" [value]="estadoCaso">{{estadoCaso}}</option>
                </select>
              </div>
            </div>
            

            <span
            class="input-group-text border-0 btn-primary col-md-1"
            id="search-addon"
            [style.cursor]="'pointer'"
            (click)="mostrarReporte()">
            <i class="fas fa-search"></i>
          </span>

          </div>
      </div>
    </div>

    <div id="reporte">
      <h1 class=" fw-bold text-center mt-3">Reporte de casos por abogados</h1>
      <table class="table table-striped table-hover table-bordered mt-10">
        <thead>
          <tr class="bg-header text-white">
            <th scope="col">#</th>
            <th scope="col">Nombre del abogado</th>
            <th scope="col">Numero de casos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="dataReport<=0"><td colspan="6">No existen datos para la búsqueda</td></tr>
          <tr *ngFor="let data of dataReport; index as i">
            <th scope="row" class="align-middle">{{ i + 1 }}</th>
            <td class="align-middle">{{ data.lawyer_name }}</td>
            <td class="align-middle">{{ data.casocount }}</td>
          </tr>
        </tbody>
      </table>
  
      <div class="row">
        <div class="col-4 justify-content-start">
         
        </div>
        <div class="col-4" >
          <canvas id="grafico"></canvas>
        </div>
    
        <div class="col-4 justify-content-end">
          
        </div>
      </div>
    </div>
</div>
  
