.icon{
    width: 20px;
    height: 20px;

}

.dataTable{
    width: 100%;
    border-spacing: 10px;
    
}
.bntsize{
    width: 20px;
    height: 20px;
}
.btnagregar{
    margin-left: 5px;
}

.btnderecha{
    margin-right: 5px;
}