.homeTitulo{
    text-align: center;
    color: black;
    font-style: italic; 
    font-size: 64px;
}

.containerA {
    display: flex;
  }
  
  .leftContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .rightContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D90718;
    width: 60%;
    height: 100%;
    
    border-radius: 10px;
    box-shadow: 0px 15px 0px 0px #D90718, 0px 0px 20px 0px #bbb;
    transition: all 0.2s;
  }
  
  .a:active {
    top: 108px;
    box-shadow: 0px 7px 0px 0px #f02046;
  }
  
  .a span {
    padding: 16px;
    font-size: 50px;
  }


  .container {
    display: flex;
  }
  
  .leftContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rightContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

