.icon{
    width: 20px;
    height: 20px;

}
.btncustom {
    margin-right: 5px;
    margin-left: 5px;
  }
  
.cardplato{
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
}
.image{
    width: 237px;
    height: 150px; 
}